<div class="row">

  <div class="col">
    <ul class="list-unstyled">
      <%= render partial: 'dossiers/index_entry', collection: obj.dossiers %>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col text-right">
    <%= link_to(icon(:new), new_polymorphic_path([obj.try(:world), obj, Dossier]), id: 'add-dossier') %>
  </div>
</div>

