<% @noteable_type = obj.model_name.name %>
<% @noteable_id = obj.id %>
<div class="row">
  <%= render(
    partial: 'notes/index_entry',
    collection: obj.notes
  ) %>
</div>

<div class="row">
  <div class="col text-right">
    <%= link_to_if(
      allowed_to?(:edit?, obj),
      icon(:new),
      new_polymorphic_path(
        [obj.try(:world), obj, Note],
        note: { noteable_id: @noteable_id, noteable_type: @noteable_type }),
      id: 'add-note') {} %>
  </div>
</div>
