<%= tag.div(id: 'figures', class: 'card') do %>
  <%# card header %>
  <div class="card-header">
    <div class="row">
      <div class="col-10">
        <h2 class="card-title">
          <%= icon(:figure) { Figure.model_name.human(count: @figures.count) } %>
        </h2> 
      </div>
      <div class="col-2 text-right">
        <%= render partial: 'index_menu' %>
      </div>
    </div>
  </div>

  <%# card body %>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <ul class="list-unstyled">
          <%= render partial: 'figures/index_entry', collection: @figures %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

