<div class="row">
  <div class="col tagset">
    <% if obj.tag %>
      <% obj.tag.tagset.each do |t| %>
        <span class="badge badge-pill badge-secondary tag"><%= t %></span>
      <% end %>
    <% end %>
  </div>
</div>
