<div class="row">
  <div class="col tagset">
    <% if obj.tag %>
      <% obj.tag.tagset.each do |t| %>
        <span class="badge badge-pill badge-secondary tag"><%= t %></span>
      <% end %>
      <span>
        <% if obj.tag.tagset.empty? %>
          <%= t('tags.new.new_tag') %>
        <% end %>
        <%= link_to(icon(:edit), edit_tag_path(obj.tag), id: element_id(obj.tag, 'edit')) %>
      </span>
    <% end %>
  </div>
</div>
