<ul class="nav justify-content-end context-menu mt-2">
  <li class="nav-item">
    <a class="nav-link dropdown"
       data-toggle="dropdown"
       href="#"
       role="button"
       aria-haspopup="true"
       aria-expanded="false">
      <%= icon(:menu) %>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to(
        icon(:world) { @world.name },
        world_path(@world),
        class: 'dropdown-item',
        title: t(:world)) %>
      <%= link_to_if(
        allowed_to?(:update?, @world),
        icon(:new) { t('new') },
        new_world_concept_path(@world),
        class: 'dropdown-item',
        title: t(:new)) {} %>
    </div>
  </li>
</ul>

